CREATE TABLE `{{ destination_topic }}` (
{{ destination_column_definitions | indent(2, true) }}
) WITH (
  'connector' = 'confluent',
  'topic' = '{{ destination_topic }}',
  'value.format' = 'AVRO'{% if avro_schema_ref %},
  'avro-confluent.subject' = '{{ avro_schema_ref }}'{% endif %}{% if inline_avro_schema %},
  'value.avro-schema' = '{{ inline_avro_schema | replace("\n", " ") | replace("'", "''") }}'{% endif %}
) ;

INSERT INTO `{{ destination_topic }}`
SELECT
{{ destination_select_expressions | indent(2, true) }}
FROM `{{ source_topic }}`
{% if filter_conditions %}WHERE {{ filter_conditions | join(" AND ") }}{% endif %};
